<div class="dream-card">
  <div class="dream-card-header">
    <div class="dream-date">
      <span class="date">{{ formattedDate }}</span>
      <span class="time">{{ formattedTime }}</span>
    </div>
    <div class="dream-tags" v-if="dream.tags && dream.tags.length">
      <span v-for="tag in dream.tags" :key="tag" class="tag"> #{{ tag }} </span>
    </div>
  </div>
  <div class="dream-content">
    <p>{{ dreamPreview }}</p>
  </div>
  <div class="dream-footer">
    <div class="dream-mood" v-if="dream.mood">
      <i class="fas fa-smile"></i>
      <span>{{ dream.mood }}</span>
    </div>
    <div class="dream-lucidity" v-if="dream.lucidityLevel">
      <i class="fas fa-star"></i>
      <span>Lucidity: {{ dream.lucidityLevel }}/10</span>
    </div>
  </div>
</div>
